.registration-container {
    display: flex;
    background-color: #f4f7fa;
    padding: 20px;
    margin: 25px;
    border-radius: 7px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.registration-container .form-section {
    flex: 1;
    margin: 10px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
}

.registration-container .form-section label::after {
    content: ' *';
    color: red;
}

.registration-container .form-section h2 {
    color: #4a90e2;
    margin-bottom: 20px;
}

.registration-container .input-group {
    position: relative;
    display: flex;
    align-items: center;
}

.registration-container .input-group input {
    flex-grow: 1;
    padding-right: 60px;
}

.registration-container .input-group .toggle-visibility {
    position: absolute;
    right: 0;
    padding: 8px 16px;
    border: none;
    background-color: #cccccc;
    border-radius: 0 4px 4px 0;
    color: #333333;
}

.registration-container .input-group .toggle-visibility:hover {
    background-color: #bbbbbb;
}

.registration-container .error-message {
    color: #f00;
    margin: 10px 0;
}

.registration-container .submit-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4a90e2;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.registration-container .submit-button:hover {
    background-color: #357abd;
}

.registration-container label {
    display: block;
    margin-bottom: 5px;
    color: #333333;
}

.registration-container input[type="text"],
.registration-container input[type="password"],
.registration-container input[type="email"],
.registration-container input[type="tel"],
.registration-container input[type="date"],
.registration-container select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

.registration-container input[type="button"],
.registration-container button {
    background-color: #4a90e2;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 0px;
    margin-bottom: 15px;
}

.registration-container input[type="button"]:hover,
.registration-container button:hover {
    background-color: #357abd;
}